/* #app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.lead-pic {
  display: block;
  max-width: 8rem;
  border-radius: 5%;
  height: 8rem;
  object-fit: cover;
  margin-right: 0.5rem;
}

.domain-desc {
  text-align: center;
  font-size: 0.9rem;
  padding: 2rem;
  justify-content: center;
}

.data {
  text-align: left;
  font-size: 0.8rem;
}

.quote {
  font-size: 3rem;
  margin-right: 2rem;
  /* color: gold; */
}

.mycard {
  border: 1px;
  border-radius: 50%;
  max-height: fit-content;
}

.head-txt {
  text-align: center;
  
}

.tesimonial-head {
  font-size: 3rem;
}

.service-head{
  
  text-align: center;
  margin-bottom: 5rem;
}

.domain {
  margin-bottom: 4rem;
}

.card {
  height: 100%;
  width: 25rem;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  
}

a{
  text-decoration:"none";
  color: #eee;
}