
/* .d-block{
  width: 1516px;
  height: 612px;
}
.food-anim {
  width: 1516px;
  height: 612px;
    transform: scaleX(-1);
  }
#carouselExampleAutoplaying{
    margin-left: 200px;
    width: 100%; 
    max-width: 400px;
  }
  
  .img1{
    width: 1516px;
    height: 612px;
    object-fit: cover;
  }
  
  .carousel{
    margin: 0;padding: 0;
    width: 1516px;
    height: 612px;
  } */
  /* .carousel {

    height:360px;
    
    }
    
    .carousel-inner{
    
    height:360px;
    
    object-fit: contain;
    
    } */
    .d-block{
      /* height: 100%; */
      /* max-height: 625px;
      max-width: 1100px; */
      }
      
      /* .food-anim {
      height: 625px;
      width: 1100px;
      } */
      
      .img1 {
      /* height: 625px; */
      }
      
      #carouselExampleAutoplaying {
      /* height: 625px; */
      margin: 0 0 20px -60px;
      }
      
      .carousel {
      /* width: 1516px;
      height: 612px; */
      }
      /* .food-anim {
        height: 90%;
        width: 80%;
        transform: scaleX(-1);
      }
      .sub-text {
        text-align: justify;
      }
      .btn {
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 26px;
      }
      
      .text-primary {
        font-family: "M PLUS Code Latin", sans-serif;
      }
      
      #carouselExampleAutoplaying{
        margin-left: 120px;
      }
      
      .img1{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .carousel{
        margin: 0;padding: 0;
        width: 1516px;
        height: 612px;
        
      }
      
      .main-head{
        font-size: 80px;
      } */
      body {
        background-color: #eee
    }
    
    .card {
        border: none;
        border-radius: 10px
    }
    
    .c-details span {
        font-weight: 300;
        font-size: 13px
    }
    
    .icon {
        width: 50px;
        height: 50px;
        background-color: #eee;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 39px
    }
    
    .badge span {
        background-color: #fffbec;
        width: 60px;
        height: 25px;
        padding-bottom: 3px;
        border-radius: 5px;
        display: flex;
        color: #fed85d;
        justify-content: center;
        align-items: center
    }
    
    .progress {
        height: 10px;
        border-radius: 10px
    }
    
    .progress div {
        background-color: red
    }
    
    .text1 {
        font-size: 14px;
        font-weight: 600
    }
    
    .text2 {
        color: #a5aec0
    }