/* body {
  background-image: url("../images/homebg.png");
} */
.home-anim {
  height: 90%;
  width: 80%;
  transform: scaleX(-1);
}
.sub-text {
  text-align: justify;
}
.btn {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
}

.text-primary {
  font-family: "M PLUS Code Latin", sans-serif;
}

#carouselExampleAutoplaying{
  margin-left: 120px;
}

.home1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel{
  margin: 0;padding: 0;
  
}

.main-head{
  font-size: 80px;
}

.homeCar{
  margin-top: 12%;
}