/* body {
  background-image: url("../images/homebg.png");
} */
.home-anim {
  height: 90%;
  width: 80%;
  transform: scaleX(-1);
}
.sub-text {
  text-align: justify;
}
.btn {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
}

.text-primary {
  font-family: "M PLUS Code Latin", sans-serif;
}

#carouselExampleAutoplaying{
  margin-left: 120px;
}

.home1{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel{
  margin: 0;padding: 0;
  
}

.main-head{
  font-size: 80px;
  margin-top: 8rem;
}

.homeCar{
  margin-top: 5.5%;
}



/* Set the width of the container */
.container {
  width: 80%;
  
}

/* Set the height of the image */
.image-container {
  height: 500px;
  position:static;
  overflow: hidden;
  margin-bottom: 3rem;
}

/* Set the background image */
.image-container img {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add the solid color cropper background */
/* .overlay {
  position:relative;
  top: 10;
  right: 10;
  bottom: 0;
  left: 50%;

  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-50%);
} */

/* Set the styling for the text area */
.text-area {
  padding: 20px;
}

/* Set the color of the text area */
.text-area h1 {
  color: #fff;
}