body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "M PLUS Code Latin",  "Open Sans"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Shadows Into Light', cursive;
  /* font-family: 'Indie Flower', cursive; */
  background-color: #fff7cb;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */

  /* font-family: "M PLUS Code Latin",  "Open Sans"; */
  font-family: 'Shadows Into Light', cursive;
  
}

.text-brown{
  color:#925000;
  font-family: 'Shadows Into Light', cursive;
}

.bg-red{
  background-color: #F4D65E;
}