body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: "M PLUS Code Latin",  "Open Sans"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Shadows Into Light', cursive;
  /* font-family: 'Indie Flower', cursive; */
  /* background-color: #fff7cb; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1464 560L0 560 L0 300.2Q33.53 261.73%2c 72 295.26Q125.75 229.01%2c 192 282.77Q271.81 242.58%2c 312 322.39Q334.33 272.72%2c 384 295.04Q413.16 252.2%2c 456 281.35Q562.54 267.89%2c 576 374.43Q598.91 325.34%2c 648 348.24Q658.66 286.9%2c 720 297.57Q794.02 251.6%2c 840 325.62Q892.6 258.22%2c 960 310.81Q989.41 268.22%2c 1032 297.63Q1119.62 265.25%2c 1152 352.87Q1170.38 299.25%2c 1224 317.63Q1307.38 281.01%2c 1344 364.39Q1386.76 287.15%2c 1464 329.91z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 370.21Q77.83 328.04%2c 120 405.87Q185.52 351.39%2c 240 416.92Q290.41 395.33%2c 312 445.73Q319.53 381.26%2c 384 388.79Q425.63 358.42%2c 456 400.05Q497.91 321.96%2c 576 363.86Q620.84 336.69%2c 648 381.53Q714.57 328.1%2c 768 394.66Q818.48 373.14%2c 840 423.62Q845.75 357.37%2c 912 363.11Q985.68 364.8%2c 984 438.48Q989.26 371.75%2c 1056 377.01Q1106.24 307.25%2c 1176 357.5Q1280.52 342.02%2c 1296 446.55Q1328.02 358.56%2c 1416 390.58Q1441.46 344.04%2c 1488 369.5z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 465.31Q59.31 404.62%2c 120 463.93Q165.42 389.35%2c 240 434.77Q301.9 424.67%2c 312 486.57Q360.86 415.43%2c 432 464.29Q509.84 422.13%2c 552 499.97Q556.15 432.12%2c 624 436.27Q689.41 381.69%2c 744 447.1Q799.21 430.31%2c 816 485.52Q851.72 401.24%2c 936 436.95Q980.02 408.97%2c 1008 452.99Q1075.18 400.18%2c 1128 467.36Q1207.83 427.19%2c 1248 507.02Q1273.52 412.54%2c 1368 438.06Q1436.03 386.09%2c 1488 454.11z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 566.71Q44.14 490.86%2c 120 535Q203.02 498.02%2c 240 581.04Q290.27 511.31%2c 360 561.57Q404.81 486.38%2c 480 531.19Q539.86 519.05%2c 552 578.91Q575.35 530.25%2c 624 553.6Q653.24 462.84%2c 744 492.07Q825.93 454%2c 864 535.93Q917.8 469.73%2c 984 523.54Q1064.9 484.44%2c 1104 565.34Q1147.36 536.7%2c 1176 580.06Q1177.86 509.92%2c 1248 511.78Q1299.82 443.6%2c 1368 495.41Q1427.73 483.14%2c 1440 542.88Q1457.66 488.54%2c 1512 506.21z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */

  /* font-family: "M PLUS Code Latin",  "Open Sans"; */
  font-family: 'Shadows Into Light', cursive;
  
}

.text-brown{
  color:#925000;
  font-family: 'Shadows Into Light', cursive;
}

.bg-red{
  background-color: #F4D65E;
}